body{
	background: #505160;
	font-family: 'Patrick Hand SC', cursive;
}

span {
	color: white;
}
.jumbotron {
	background: #AEBD38;
	color: white;

}

#panelHeading {
	background: #68829E;
	color: white;
}

.panel-title {
	font-size: 30px;
}

#homeButton,
#submit {
 	background: #598234;
 	border: solid 1px #598234;
 	color: white;
}

#questions {
	color: #505160;
	font-size: 25px;
}

#userMatch {
	text-align: center;
}

#userMatchImage {
	max-width: 450px;
	padding-left: 60px;
}